/* Your CSS code here. */
body{
	height:100vh;
	width:100vw;
	margin:0px;
	padding:100px
}
.flip{
	width:50%;
}
.flip:hover {
  content: url("https://live.staticflickr.com/8138/29099429912_0659caf55b_b.jpg");
}